.overlay {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}

/* flex-direction: column to get items aligned vertically */
.modal {
    display: flex;
    align-content: space-between;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    background-color: aquamarine;
}

.modal-title {
    display: flex;
    justify-content: center;
}

.modal-body {
    display: flex;
    justify-content: center;
    margin: 3em 4em 3em;
}

.modal-close-btn {
    margin: 0em 7em 0em;
}


/* GOAL: fix styling in modal. ITs all inline, make it stack. */


/* NOTES:
These 4 are important to get it to cover the whole page
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;

    position: absolute
    work with top and left
    where the overlay div must be placed in the top left corner

    since the overlay will take up the full width and height
    it will cover the whole window

*/
