h1 {
  display: flex;
  width: 100vw;
  height: 10vw;
  justify-content: center;
  position: absolute;
  top: 10%;
}

.btn-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30%;
  left: 40%;
  background-color: blueviolet;
}

/* How do you center the button, guessing % is incorrect
 */
